* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: block;
    background-image: url(/img/desktop-wallpaper-web-developer-front-end-developer.jpg);
    background-size: cover;

}